.pointer {
  cursor: pointer;
}

a, button {
  cursor: pointer;
}

.pr-2 {
  padding-right: 8px;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}
.mr-1 {
  margin-right: 4px;
}

.d-flex {
  display: flex !important;
}

.xs4 {
  width: 25%;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-1-1 {
  flex-grow: 1 !important;
  flex-shrink: 1 !important;
  flex-basis: auto !important;
}

.flex-0-0 {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}

.overflow-y-auto {
  overflow-y: auto;
}